
.tableouter{
    background-color: #fff5;
    width: 70%;
    margin: auto;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem .8rem #0005;
    border-radius: .8rem;
    margin-top: 10px;
}

.section_table{
    width: 90%;
    overflow: scroll;
    max-height: 33rem;
    margin: auto;
}

.section_table::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.section_table::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: rgb(60, 64, 63);
    visibility: hidden;
}

.section_table:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* .section_table td:nth-child(even){
    background-color: black;
} */

/* .section_table thead th{
    position: sticky;
} */

.section_hader{
    width: 90%;
    background-color: #000;
    margin: auto;
    padding: .8rem .1rem;
}

.section_header h1{
    margin: 0;
    padding: 0;
}

.paginator{
    width: 90%;
    margin: auto;
    border-radius: .8rem;
    padding-bottom: 10px;
}