<div class="tableouter">
  <section class="header-input">
    <div class="section_header">
      <h1>STUDENTS</h1>
    </div>
    <div class="textbox-outer">
      <input type="text" [(ngModel)]="filterString" (keyup)="filterSudent()">
      <span>search string</span>
    </div>
  </section>
<section class="section_table">
<table mat-table matSort [dataSource]="students">

    <!-- Fname Column -->
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  First Name </th>
      <td mat-cell *matCellDef="let student"> {{student.firstname}} </td>
    </ng-container>

     <!-- Lname Column -->
     <ng-container matColumnDef="lname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Last Name </th>
        <td mat-cell *matCellDef="let student"> {{student.lastname}} </td>
      </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Birth </th>
      <td mat-cell *matCellDef="let student"> {{student.dob | date:'dd/MM/YYYY'}} </td>
    </ng-container>

    <!-- Mobile Column -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
      <td mat-cell *matCellDef="let student"> {{student.mobile}} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let student"> {{student.gender.description}} </td>
    </ng-container>

     <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
      <td mat-cell *matCellDef="let student">
        <a [routerLink]="['/students', student.id]">  
          <!--define the route needs to be executed on clicking. First one in array is the route name and second is the ID after the route name-->
          <mat-icon color="primary">edit</mat-icon>  
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
<section class="paginator">
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
</section>
</div>