<div class="outergroup">
    <section class="header-button">
        <span class="section_header"> Details</span>
        <button class="return-button" role="button">Go Back</button>
    </section>
    <section class="form-section">
        <form>
            <div class="form-rows">
                <div class="form-columns">
                    <h1>hello</h1>
                    <h1>World</h1>
                </div>
                <div class="form-columns">
                    <h1>Second Hello</h1>
                    <h1>World</h1>
                </div>
            </div>
        </form>
    </section>
</div>